name: Go

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: fmt
        run: diff -u <(echo -n) <(gofmt -s -d .)
      - name: vet
        run: go vet ./...
      - name: staticcheck
        run: go run honnef.co/go/tools/cmd/staticcheck@latest ./...
      - name: tidy
        run: go mod tidy -diff

  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: test
        run: go test -short -covermode atomic -coverprofile=covprofile ./...
      - name: goveralls
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: go run github.com/mattn/goveralls@latest -coverprofile=covprofile -service=github
